.chartBox{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 309px;
    padding: 10px;
    border: 1px solid;
    position: relative;
}
.chartFlex{
    display: flex;
    height: 265px;
}
.cityNameBox{
    display: flex;
    align-items: center;
}
.chartImgbox{
    position: absolute;
    bottom: 96px;
}
.chartCorona{
    position: absolute;
    width: 175px;
    left: -39px;
}